<div class="navbar-fixed">
  <nav class="indigo">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">DAP Travel</a>
        <a href="#" data-target="side-nav" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Search</a>
          </li>
          <li>
            <a href="#">Popular Places</a>
          </li>
          <li>
            <a href="#">Gallery</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- side nav UL -->

<ul id="side-nav" class="sidenav">
  <li>
    <a class="sidenav-close" href="#">Home</a>
  </li>
  <li>
    <a class="sidenav-close" href="#">Search</a>
  </li>
  <li>
    <a class="sidenav-close" href="#">Popular Places</a>
  </li>
  <li>
    <a class="sidenav-close" href="#">Gallery</a>
  </li>
  <li>
    <a class="sidenav-close" href="#">Contact</a>
  </li>
</ul>